{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/admin ">Admin Panel</a>
  
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/admin">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/subjectcreation"> Create Subjects</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="d-flex justify-content-center align-items-center vh-100" style="background-color: #f8f9fa;">
  <div class="p-3 bg-white rounded shadow" style="max-width: 300px; width: 100%;">
    <h1 class="display-6 mb-3 text-center">edit subject</h1>
    <form action="/editSubject/{{subject.sub_id}}" method="POST">
      <div class="form-group mb-2">
        <label for="sub_name" class="form-label">Subject Name</label>
        <input type="text" class="form-control" id="sub_name" name="sub_name" placeholder="******">
      </div>
      <div class="form-group mb-2">
        <label for="sub_code" class="form-label">Subject Code</label>
        <input type="text" class="form-control" id="sub_code" name="sub_code" required>
      </div>
      <div class="form-group mb-2">
        <label for="sub_description" class="form-label">Subject Description</label>
        <textarea class="form-control" id="sub_description" name="sub_description" rows="2" ></textarea>
      </div>
      <div class="form-group mb-2">
        <label for="sub_teacher" class="form-label">Subject Teacher</label>
        <input type="text" class="form-control" id="sub_teacher" name="sub_teacher" >
      </div>
      <button type="submit" class="btn btn-primary w-100">Create Subject</button>
    </form>
  </div>
</div>


{% endblock %}
