{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/admin ">Quiz Master</a>
  
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/admin">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/adminSubject">Subjects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/adminChapter"> Chapters</a>
        </li>
       
        
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="d-flex justify-content-center align-items-center vh-100" style="background-color: #f8f9fa;">
  <div class="p-3 bg-white rounded shadow" style="max-width: 300px; width: 100%;">
    <h1 class="display-6 mb-3 text-center">edit chapter</h1>
    <form action="/editChapter/{{chapter.ch_id}}" method="POST">
      <div class="form-group mb-2">
        <label for="sub_name" class="form-label" value = "{{chapter.ch_name}}"> Name</label>
        <input type="text" class="form-control" id="ch_name" name="ch_name" placeholder="{{chapter.ch_name}}" value = "{{chapter.ch_name}}">
      </div>
      <div class="form-group mb-2">
        <label for="sub_description" class="form-label" >Description</label>
        <textarea class="form-control" id="ch_desc" name="ch_desc" rows="2" ></textarea>
      </div>
      <button type="submit" class="btn btn-primary w-100">Cedit Subject</button>
    </form>
  </div>
</div>


{% endblock %}
