{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/admin ">Quiz Master</a>
  
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/admin">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/adminSubject">Subjects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/adminChapter"> Chapters</a>
        </li>
       
        
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>s      
      
<div class="d-flex justify-content-center align-items-center vh-100" style="background-color: #f8f9fa;">
  <div class="p-3 bg-white rounded shadow" style="max-width: 300px; width: 100%;">
    <h1 class="display-6 mb-3 text-center">Edit Question</h1>
    <form action="/editQuestion/{{ question.q_id }}" method="POST">
      <div class="form-group mb-2">
        <label for="question" class="form-label">Question</label>
        <input type="text" class="form-control" id="question" name="question" value="{{ question.q_statement }}" required>
      </div>
      <div class="form-group mb-2">
        <label for="option1" class="form-label">Option 1</label>
        <input type="text" class="form-control" id="option1" name="option1" value="{{ question.ans_opt1}}" required>
      </div>
      <div class="form-group mb-2">
        <label for="option2" class="form-label">Option 2</label>
        <input type="text" class="form-control" id="option2" name="option2" value="{{ question.ans_opt2 }}" required>
      </div>
      <div class="form-group mb-2">
        <label for="option3" class="form-label">Option 3</label>
        <input type="text" class="form-control" id="option3" name="option3" value="{{ question.ans_opt3 }}" required>
      </div>
      <div class="form-group mb-2">
        <label for="option4" class="form-label">Option 4</label>
        <input type="text" class="form-control" id="option4" name="option4" value="{{ question. ans_opt4 }}" required>
      </div>
      <div class="form-group mb-2">
        <label for="correct_option" class="form-label">Correct Option</label>
        <input type="text" class="form-control" id="correct_option" name="correct_option" value="{{ question.ans_correct }}" required>
      </div>
      <button type="submit" class="btn btn-primary w-100">Edit Question</button>
    </form>
  </div>
</div>

{% endblock %}

