{% extends "base.html" %}
{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/admin ">Quiz Master</a>
  
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       
        
        <li class="nav-item">
          <a class="nav-link" href="/signup">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

  <!-- Bootstrap code start-->
  <!-- Section: Design Block -->
  <section class="background-radial-gradient overflow-hidden">
      <style>
          .background-radial-gradient {
        background-color: hsl(218, 41%, 15%);
        background-image: radial-gradient(720px circle at 0% 0%,
            hsl(218, 41%, 35%) 15%,
            hsl(218, 41%, 30%) 35%,
            hsl(218, 41%, 20%) 75%,
            hsl(218, 41%, 19%) 80%,
            transparent 100%),
          radial-gradient(1250px circle at 100% 100%,
            hsl(218, 41%, 45%) 15%,
            hsl(218, 41%, 30%) 35%,
            hsl(218, 41%, 20%) 75%,
            hsl(218, 41%, 19%) 80%,
            transparent 100%);
      }
      #radius-shape-1 {
        height: 220px;
        width: 220px;
        top: -60px;
        left: -130px;
        background: radial-gradient(#44006b, #ad1fff);
        overflow: hidden;
      }
      #radius-shape-2 {
        border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
        bottom: -60px;
        right: -110px;
        width: 300px;
        height: 300px;
        background: radial-gradient(#44006b, #ad1fff);
        overflow: hidden;
      }
        .bg-glass {
          background-color: hsla(0, 0%, 100%, 0.9) !important;
          backdrop-filter: saturate(200%) blur(25px);
        }
      </style>
      <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
        <div class="row gx-lg-5 align-items-center mb-5">
          <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
            <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
              QUIZ MASTER APPLICATION<br /> 
            </h1>
            <h1 class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
            TEST YOUR KNOWLEDGE<br />
            </h1>
          </div>
          <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
            <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
            <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
            <div class="card bg-glass">
              <div class="card-body px-4 py-5 px-md-5">
                <form action="/login" method="POST">
                  <!-- Email input -->
                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="email" class="form-control" id ="emailaddress" name = "emailaddress" required />
                    <label class="form-control" for="emailaddress">Email address</label>
                  </div><!-- Password input -->
                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="password" class="form-control" id = "password" name = "password" required />
                    <label class="form-label" for="password">Password</label>
                  </div><!-- Submit button -->
                  <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">
                    sign in 
                  </button>
                  <p> New to quiz master?<a href="/signup">sign up</a></p>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Design Block -->
  <!-- Bootstrap code ends-->

  {% endblock %}


