{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/admin ">Quiz Master</a>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin_userlist">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/adminSubject">Subjects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/adminChapter"> Chapters</a>
        </li>
         
      
          <li class="nav-item">
            <a class="nav-link" href="/admin/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<!--
user history page showing the previous quiz attempts of this user
-->
<div class="container mt-4">
  <h1 class="display-4 text-center">User History</h1>
  <p class="lead text-center">
    Welcome to the user history page.<br>
    Here you can see your previous quiz attempts.
  </p>
</div>
<div class="table-responsive" style="max-width: 80%; margin: auto;">
  <table class="table table-bordered table-hover">
    <thead class="table-info">
      <tr>
        <th scope="col">Quiz Name</th>
        <th scope="col">Score</th>
        <th scope="col">Date Taken</th>
        <th scope="col">Time Submitted</th>
        <th scope="col">Chapter</th>
        <th scope="col">Subject</th>
      </tr>
    </thead>
    <tbody>
      {% for mark in user.Marks %}
      <tr>
        <td>{{ mark.quiz.qz_name }}</td>
        <td>{{ mark.mark_score }}</td>
        <td>{{ mark.time_taken.strftime('%Y-%m-%d') }}</td>
        <td>{{ mark.time_taken.strftime('%H:%M:%S') }}</td>
        <td>{{ mark.quiz.chap.ch_name }}</td>
        <td>{{ mark.quiz.chap.Subject.sub_name }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>



{% endblock %}

