{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid"><h1 class="navbar-brand">
    Quiz Master : {{user.User_fullname}}</h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/userdashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/userprofile/{{user.id}}">Profile</a>
        </li>

          <li class="nav-item">
            <a class="nav-link" href="/userhistory/{{user.id}}">History</a>
          </li>
  
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/logout">Logout</a>
        </li>
      </ul> 
    </div>
  </div>
</nav>

<!--
user history page showing the previous quiz attempts of this user
-->
<div class="container mt-4">
  <h1 class="display-4 text-center">User History</h1>
  <p class="lead text-center">
    Welcome to the user history page.<br>
    Here you can see your previous quiz attempts.
  </p>
</div>
<div class="table-responsive" style="max-width: 80%; margin: auto;">
  <table class="table table-bordered table-hover">
    <thead class="table-info">
      <tr>
        <th scope="col">Quiz Name</th>
        <th scope="col">Score</th>
        <th scope="col">Date Taken</th>
        <th scope="col">Time Submitted</th>
        <th scope="col">Chapter</th>
        <th scope="col">Subject</th>
      </tr>
    </thead>
    <tbody>
      {% for mark in user.Marks %}
      <tr>
        <td>{{ mark.quiz.qz_name }}</td>
        <td>{{ mark.mark_score }}</td>
        <td>{{ mark.time_taken.strftime('%Y-%m-%d') }}</td>
        <td>{{ mark.time_taken.strftime('%H:%M:%S') }}</td>
        <td>{{ mark.quiz.chap.ch_name }}</td>
        <td>{{ mark.quiz.chap.Subject.sub_name }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>



{% endblock %}

